<div class="main-container">
  <header *ngIf="isLoggedIn" class="app-header">
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/upload" routerLinkActive="active-link">Upload File</a></li>
        <li><a routerLink="/employees" routerLinkActive="active-link">Employee Data</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <span>Welcome!</span>
      <button (click)="onLogout()" class="logout-button">Logout</button>
    </div>
  </header>

  <main>
    <ng-container *ngIf="isLoggedIn; else loginPage">
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #loginPage>
      <app-login></app-login>
    </ng-template>
  </main>
</div>